{% extends 'layout.html' %} 
{% block body %}
<p>INICIO DE SESIÓN</p>
<div class="card card-body">
  <form action="{{url_for('login')}}" method="POST">
    <div class="form-group">
      <div class="form-group">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control"
        >
      </div>
      <br>
      <div class="form-group">
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
        >
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Start session
        </button>
      </div>
    </div>
  <br>
</form>
  <form action="{{url_for('signup')}}">
    <button type="submit" class="btn btn-primary btn-block">registrase</button>
  </form>
</div>

{% endblock %}
