{% extends 'layout_start.html' %}

{% block body %}
{% for student in student %}
        <tr>
            <h1>
            <td>{{student.name}}</td>
            <td>{{student.lastname}}</td>
            </h1>
            
        </tr>
        &nbsp;
        &nbsp; 
        &nbsp;
       
   <form action="/savenotes/{{student.id}}" method="POST" autocomplete="off">
    <table class="table table-striped table-bordered bg-white table-sm">
       <thead>
          <th class="arts"> Español</th>
          <th>Matemáticas</th>
          <th class='arts'>Artes</th>
          <th>Vida Saludable</th>
          <th>Conocimiento del Medio</th>
          <th>Formación Civica</th>
          <th>Educación Física</th>
       </thead>
       <tbody>
          <tr>
          <td><input class='inputtxt' type="text" name="español" id="espanol"></td>
          <td><input class='inputtxt'type="text" name="matematicas" id="mate"></td>
          <td><input class='inputtxt'type="text" name="artes" id="arts"></td>
          <td><input class='inputtxt'type="text" name="vidasal" id="healty"></td>
          <td><input class='inputtxt'type="text" name="conocimiento" id="conocimiento"></td>
          <td><input class='inputtxt'type="text" name="formacion" id="formacion"></td>
          <td><input class='inputtxt'type="text" name="educacion" id="educacion"></td>
          </tr>
          <tr>
             <td><label for="trimester">TRIMESTRE</label></td>
             
             <td><input
               type="number"
               name="trimester"
               value="0"
               min="1"
               max="3"
             /></td>
             <td>
                <button type="submit" class="btn btn-primary btn-block">
                   Guardar
               </button>
             </td>
          </tr>
          
       </tbody>
       

    </table>
  
 </form>

{% endfor %}
&nbsp;
&nbsp;

<div class="col-md-10">
    <table class="table table-striped table-bordered bg-white table-sm">

        <thead>
            <h4>Resumen de calificaciones</h4>
            <tr>
            <th>Trimestre</th>
            <th>Español</th>
            <th>Matematicas</th>
            <th>Artes</th>
            <th>Vida saludable</th>
            <th>Conocimiento del medio</th>
            <th>Formación civica</th>
            <th>Educación fisica</th>
            </tr>
        </thead>
        <tbody>
            {% for student in data_student %}
            <tr>
                <td>{{student.trimester}}</td>
                <td>{{student.español}}</td>
                <td>{{student.matematicas}}</td>
                <td>{{student.artes}}</td>
                <td>{{student.vida_saludable}}</td>
                <td>{{student.conocimiento_del_medio}}</td>
                <td>{{student.formacion_civica}}</td>
                <td>{{student.educacion_fisica}}</td>
                <td>
                    <a href="/editnotes/{{student.id}}/{{student.student}}" class="btn btn-secondary">editar</a>

                    
                </td>
                <td>
                      <a href="/deletenote/{{student.id}}/{{student.student}}" class="btn btn-danger btn-delete">Borrar</a>
                </td>
            </tr>
            {% endfor %}
            {% for prom_signature in prom_signature %}
           

            <td>Promedios</td>

            <td>{{prom_signature.0 or "0.0"}}</td>
            <td>{{prom_signature.1 or "0.0"}}</td>
            <td>{{prom_signature.2 or "0.0"}}</td>
            <td>{{prom_signature.3 or "0.0"}}</td>
            <td>{{prom_signature.4 or "0.0"}}</td>
            <td>{{prom_signature.5 or "0.0"}}</td>
            <td>{{prom_signature.6 or "0.0"}}</td>
            
            <td>
                {{finalprom|round(1) or 0.0}}
            </td>

            {% endfor %}
           
        </tbody>
    </table>


</div>
</div>





{% endblock %}